<!DOCTYPE html>
<html>
<title>Fetch the Flair</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://www.w3schools.com/w3images/forestbridge.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">Fetch the Flair</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#Predictor" class="w3-bar-item w3-button">Predictor</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#Predictor" onclick="w3_close()" class="w3-bar-item w3-button">Predictor</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Flair has been fetched!</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Flair has been fetched!</span><br>
    <span class="w3-large">
    URL : <a href= {{ output.URL.values[0] }}>Link</a>
    </span>
    <br>
    <span class="w3-large">
    Predicted Flair : {{ output['flair'].to_list()[0] }}
    </span>
    <form action="{{ url_for('home') }}" method="post" id="url_form">
    <button class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-   opacity w3-hover-opacity-off" type="submit" form="url_form"                   value="Submit">Predict Again!</button>
    </form>
    </div> 
    <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px         48px">
    <a href="https://github.com/NikV-JS/Reddit-Flair-Detector"><i class="fa fa-github w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/nikhil-varma-keetha-612685193/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  </div>
</header>

<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">Developed by <a href="https://www.linkedin.com/in/nikhil-varma-keetha-612685193/">K.Nikhil Varma</h3></a>
  <p class="w3-center w3-large">Contact Details:</p>
  <div style="margin-top:48px">
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: keethanikhil.18je0410@ap.iitism.ac.in</p>
    <br>   
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <a href="https://github.com/NikV-JS/Reddit-Flair-Detector"><i class="fa fa-github w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/nikhil-varma-keetha-612685193/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>

